done **** creation of custom groups need edit functionality.
fixing the page refresh issue.

done **** Modify the buffer section to only display the max resulting value instead of the sum of all selected records.

done **** Investigate why the wrong load case descriptions (e.g., hurricane instead of ESC Lite) are being displayed in the table.

done **** rename Group Structures name in home page 
*******************************

updated

hupload1 view 
hupload1.html file js  modify entire customGroupsLink section 