class MUDeadendForm5(forms.Form):
    structure = forms.ModelChoiceField(
        queryset=ListOfStructure.objects.none(),
        empty_label="Select Structure to Update",
        required=True
    )
    
    file = forms.FileField(
        required=True,
        widget=forms.FileInput(attrs={'accept': '.xls,.xlsx'})
    )

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        # Only show structures that have uploaded files
        used_structures = mUploadedFile5.objects.values_list('structure_id', flat=True)
        self.fields['structure'].queryset = ListOfStructure.objects.filter(id__in=used_structures)

    def clean(self):
        cleaned_data = super().clean()
        structure = cleaned_data.get('structure')
        
        if structure and not mUploadedFile5.objects.filter(structure=structure).exists():
            raise ValidationError("No uploaded file found for this structure.")
        
        return cleaned_data

    def clean_file(self):
        uploaded_file = self.cleaned_data.get('file')
        if uploaded_file:
            ext = os.path.splitext(uploaded_file.name)[1].lower()
            if ext not in ['.xls', '.xlsx']:
                raise ValidationError("Only Excel files (.xls or .xlsx) are allowed.")
        return uploaded_file


class MUDeadendForm5(forms.ModelForm):   # *************
    class Meta:
        model = mUploadedFile5               # *************
        fields = ('structure', 'file')

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        # Remove the filtering if we're hardcoding the structure in the view
        used_structures = mUploadedFile5.objects.values_list('structure_id', flat=True)   # *************
        self.fields['structure'].queryset = ListOfStructure.objects.exclude(id__in=used_structures)
        self.fields['structure'].empty_label = "Select Structure"
        # Make the field not required since we're setting it in the view
        self.fields['structure'].required = False

    def clean_file(self):
        uploaded_file = self.cleaned_data.get('file')
        ext = os.path.splitext(uploaded_file.name)[1].lower()
        if ext not in ['.xls', '.xlsx']:
            raise ValidationError("Only Excel files (.xls or .xlsx) are allowed.")
        return uploaded_file