{% extends "app1/base.html" %}
{% load static %}  <!-- Load static here too for good measure -->

{% block title %}Home - KOmatrix LoadView{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="styles.css">
    <style>
        

       

    
        .popup-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 2000;
        }
        
        .popup {
            background-color: white;
            padding: 20px;
            border-radius: 0 0 10px 10px; /* Rounded only at the bottom */
            text-align: center;
            width: 500px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: none;
            position: relative;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            overflow: hidden; /* Ensures content does not overflow */
        }
        
        .popup .popup-header {
            background-color: #ffec00;
            color: black;
            font-size: 12px;
            padding: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px 0px 0 0;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            width: calc(100% + 40px);  /* Ensure it covers full width */
            margin: -20px -20px 0 -20px;  /* Remove gaps and extend header to popup edges */
            box-sizing: border-box;  /* Prevent overflow beyond the container */
        }
        
        
        .popup-close {
            position: absolute;
            top: 10%;
            right: 1px;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 30px;
            color: black;
            background-color: transparent;
            padding: 5px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .popup h3 {
            margin: 20px 0;
            font-size: 14px;
            color: black;
        }
        
        .popup .popup-btn {
            padding: 10px 15px; /* Increase padding for better button size */
            margin: 15px 30px;  /* Increase the margin between buttons */
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 20px;
            color: white;
            transition: background-color 0.3s ease;
        }
        
        .popup-btn.blue {
            background-color: #1252a7;
        }
        
        .popup-btn.green {
            background-color: green;
        }
        
        .popup-btn.red {
            background-color: red;
        }
        
        .popup-btn.yellow {
            background-color: yellow;
            color: black;
        }
        
        .popup-btn:hover {
            opacity: 0.9;
        }
        
        .blur {
            filter: blur(0.3spx);
        }
        

        /* Table for View Page */
        table {
            width: 70%;
            border-collapse: collapse;
            margin-top: 90px;
            margin-left:200px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        
        
    </style>


{% endblock %}

{% block content %}
    
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Structure</th>
                <th>3-Phase Circuits</th>
                <th>Shield Wires</th>
                <th>1-Phase Circuits</th>
                <th>Communication Cables</th>
            </tr>
        </thead>
        <tbody>
            {% for monopole in h %}
            <tr>
                <td>{{ monopole.id }}</td>
                <td>{{ monopole.structure }}</td>
                <td>{{ monopole.num_3_phase_circuits }}</td>
                <td>{{ monopole.num_shield_wires }}</td>
                <td>{{ monopole.num_1_phase_circuits }}</td>
                <td>{{ monopole.num_communication_cables }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    {% endblock %}

{% block extra_js %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const saveButton = document.querySelector(".save-button");
    
        saveButton.addEventListener("click", function() {
            // Redirect to the upload1 page
            window.location.href = '/mupload5/';           // **************************
        });
    });
        
</script>
    
    {% endblock %}

